<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section class="form-container edit-container">
    <div class="body-container-items-forms container">
        <h1><span>Edit your comment:</span></h1>
        
        <form action="/comments/<%=comment._id%>/update?_method=PUT" method="POST">
            <h2>Comment</h2>
            <textarea name="comment[text]" id="text"><%= comment.text %></textarea>
			
            <button type="submit">Update Comment</button>
			<a href="javascript:history.back()">Go Back</a>
        </form>
    </div>
</section>