<%- include("partials/header") %>
<%- include("partials/landingHeader") %>

<section id="landing-page" class="container-fluid">
	<div class="container">
		<div>
			<figure>
				<a href="/">
					<img src="/images/cloudvend.png" alt="CloudVend Logo" />
				</a>
			</figure>
	
			<h1><span>Your Virtual Barter Hub</span></h1>
			<p>Whether you're clearing out clutter or finding something new, CloudVend makes the bartering experience efficient and straightforward.</p>
			<hr />
	
			<% if (currentUser) { %>
				<a href="/items/all" class="button-styling">Enter</a>
			<% } else { %>
				<a href="/login" class="button-styling">Login</a>
				<a href="/register" class="button-styling">Register</a>
			<% } %>
		</div>
	</div>
</section>

<%- include("partials/footer") %>
