<%- include("partials/header") %>
<%- include("partials/landingHeader") %>

<div class="container">
	<div class="jumbotron">
		<h1 class="cloud" id="style">CloudVend</h1>
		<p class="center">Barter, Socialize, Become Involved</p>
		<hr>
		
		<div>
			<%if(currentUser){%>
				<a href="/items" id="auto" class="spacing"><button type="button" id="auto" class="btn btn-success btn-lg btn-block">Enter CloudVend</button></a>
			<%} else {%>
				<a href="/register" class="spacing"><button type="button" class="btn btn-primary btn-lg btn-block">Register</button></a>
				<a href="/login" class="spacing"><button type="button" class="btn btn-success btn-lg btn-block">Login</button></a>	
			<%}%>
		</div>
	</div>	
</div>

<%- include("partials/footer") %>
