<%- include("partials/header") %>
<%- include("partials/landingHeader") %>

<section id="landing-page" class="container-fluid">
	<div class="container">
		<div>
			<figure>
				<a href="/">
					<img src="/images/cloudvend.png" alt="CloudVend Logo" />
				</a>
			</figure>
	
			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="username">
				<input type="password" name="password" placeholder="password">
				
				<button type="submit" value="login" class="button-styling">Login</button>
			</form>

			<h2>Don't have an account? <a href="/register">Sign Up</a></h2>
		</div>
	</div>
</section>

<%- include("partials/footer") %>