<%- include("partials/header") %>
<%- include("partials/landingHeader") %>

<section id="landing-page" class="container-fluid">
	<div class="container">
		<div>
			<figure>
				<a href="/">
					<img src="/images/cloudvend.png" alt="CloudVend Logo" />
				</a>
			</figure>
	
			<form action="/register" method="POST">
				<input type="input" name="username" placeholder="name">
				<input type="password" name="password" placeholder="password">
				<input type="input" name="email" placeholder="email">
				<input type="input" name="city" placeholder="city">
				
				<button type="submit" value="register" class="button-styling">Register</button>
			</form>

			<h2>Already have an account? <a href="/login">Sign In</a></h2>
		</div>
	</div>
</section>

<%- include("partials/footer") %>