<%- include("../partials/header") %>

<form action="/user" method="POST">
	<div class="container form">
		<h1 id="center">Create a New Profile Page</h1>
		<div class="spacing">
			<input class="form-control" type="input" name="image" placeholder="image url" required>
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="biography" placeholder="biography" required>	
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="backgroundImage" placeholder="background-image url">	
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="facebook" placeholder="facebook link">	
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="instagram" placeholder="instagram link">	
		</div>
		<div class="spacing">
			<input class="form-control" type="input" name="other" placeholder="other link">	
		</div>
		
		<button type="submit" class="btn btn-success">Submit!</button>
		<button class="btn btn-info"><a href="/user">Go Back</a></button>
	</div>
</form>