<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section id="profile-container" class="form-container edit-container">
	<div class="body-container-items-forms container">
		<h1><span>Create Your Profile</span></h1>
		
		<form action="/user" method="POST">
			<h2>Profile Image URL</h2>
			<input type="input" name="image" placeholder="Profile Image URL" required>

			<h2>Background Image URL</h2>
			<input type="input" name="backgroundImage" placeholder="Background Image URL" required>

			<h2>Instagram Link</h2>
			<input type="input" name="instagram" placeholder="Instagram Link">

			<h2>Facebook Link</h2>
			<input type="input" name="facebook" placeholder="Facebook Link">

			<h2>Other Link</h2>
			<input type="input" name="other" placeholder="Other Link">

			<h2>Biography</h2>
			<textarea type="input" name="biography" placeholder="Text" required></textarea>

			<button type="submit">Submit!</button>
			<a href="javascript:history.back()">Go Back</a>
		</form>
	</div>
</section>