/* display items */
main section#display-items.display-items-container,
main section#display-items.display-items-container div:nth-child(2) div,
main section#display-items.display-items-container div:nth-child(2) div > *,
main section#display-items.display-items-container div:nth-child(2) div div,
main section#display-items.display-items-container div:nth-child(2) div div.container,
main section#display-items.display-items-container div:nth-child(2) div div > * {
    display: block;
    margin: auto;
    text-align: center;
}
main section#display-items.display-items-container > div:nth-child(2),
main section#display-items.display-items-container > div:nth-child(2) > div,
main section#display-items.display-items-container div:nth-child(2) div div.container div,
main section#display-items.display-items-container div:nth-child(2) div div.container div {
    display: flex;
}
main section#display-items.display-items-container > div:nth-child(2),
main section#display-items.display-items-container > div:nth-child(2) > div,
main section#display-items.display-items-container div:nth-child(2) div div.container div {
    flex-wrap: wrap;
}
main section#display-items.display-items-container > div:nth-child(2) article {
    display: none;
}
main section#display-items.display-items-container {
    padding-left: 0em;
    padding-right: 0em;
}
main section#display-items.display-items-container > div:nth-child(2) {
    margin: 5.2em auto 2.2em;
}
main section#display-items.display-items-container > div:nth-child(2) > div {
    flex-basis: 100%;
}
main section#display-items.display-items-container > div:nth-child(2) > div > div {
    display: block;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    flex-basis: 100%;
    margin: 1.1em 0.81em;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container {
    background-color: #0F4C81;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0.81em 1em;
    width: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 1.1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 span,
main section#display-items.display-items-container div:nth-child(2) div div div h2 span {
    background-size: 100% 15%;
	background-repeat: repeat-x;
	background-position: left 0% bottom 10%;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 span {
	background-image: linear-gradient(179deg,#FFF 0%, #FFF 50%, transparent 54%, transparent 100%);
}
main section#display-items.display-items-container div:nth-child(2) div div div > * {
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-basis: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2,
main section#display-items.display-items-container div:nth-child(2) div div div h2 span,
main section#display-items.display-items-container div:nth-child(2) div div div span.price
main section#display-items.display-items-container div:nth-child(2) div div.container h3
main section#display-items.display-items-container div:nth-child(2) div div.container h4
main section#display-items.display-items-container div:nth-child(2) div div.container h4 span {
    font-weight: bolder;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2 {
    color: #0F4C81;
    font-size: 1.3em;
    margin-bottom: 0.1em;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2 span {
	background-image: linear-gradient(179deg,#0F4C81 0%, #0F4C81 50%, transparent 54%, transparent 100%);
}
main section#display-items.display-items-container div:nth-child(2) div div div span.price,
main section#display-items.display-items-container div:nth-child(2) div div.container p
main section#display-items.display-items-container div:nth-child(2) div div.container h4 span {
    font-style: italic;
}
main section#display-items.display-items-container div:nth-child(2) div div div span.price {
    color:#4CAE4C;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container {
    border-top: 1px solid #1E1E1E;
    padding: 1.1em 1em;
    width: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div.container > * {
    text-align: left;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div,
main section#display-items.display-items-container div:nth-child(2) div div.container h3,
main section#display-items.display-items-container div:nth-child(2) div div.container p,
main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
    margin: initial;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div {
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
    color: #1E1E1E;
    font-size: 0.9em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container p {
    color: #1E1E1E;
    margin: 1.2em 0em 1.4em;
    font-size: 1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
    color: #1E1E1E;
    font-size: 1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h4 span {
    color:#0F4C81;
}
main section#display-items.display-items-container div:nth-child(2) div div.container hr {
    height: 0.05em;
    background-color: #1E1E1E;
    border-top: 0.05em solid #1E1E1E;
    margin: 0.1em auto 0.81em;
}

@media (min-width: 400px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 5.8em auto 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        /* flex-basis: 100%; */
        margin: 1.2em 1.9em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 0.9em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div > * {
        /* flex-basis: 100%; */
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2 {
        font-size: 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        font-size: 1em;
        margin-bottom: 0.55em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.2em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.3em 0em 1.5em;
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.055em;
        margin: 0.11em auto 0.9em;
    }
}
@media (min-width: 576px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.8em auto 2.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        /* flex-basis: 100%; */
        margin: 1.3em 6.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div > * {
        /* flex-basis: 100%; */
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        font-size: 1.1em;
        margin-bottom: 0.61em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.3em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.4em 0em 1.6em;
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.061em;
        margin: 0.12em auto 1em;
    }
}
@media (min-width: 768px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.1em 3.2em 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        flex-basis: 44%;
        margin: 1.2em auto 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 0.9em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div > * {
        /* flex-basis: 100%; */
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2 {
        font-size: 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.1em 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
        font-size: 0.9em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.2em 0em 1.4em;
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.05em;
        margin: 0.1em auto 0.81em;
    }
}
@media (min-width: 992px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.8em 0em 2.6em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article,
    main section#display-items.display-items-container > div:nth-child(2) article > * {
        display: block;
    }
    main section#display-items.display-items-container > div:nth-child(2) article {
        flex-basis: 30%;
        width: 30%;
        max-width: 380px;
        height: fit-content;
        border: 2px solid #0F4C81;
        background-color: transparent;
        position: fixed;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        padding: 1.1em 1.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article a,
    main section#display-items.display-items-container > div:nth-child(2) article a:hover {
        transition: 0.5s ease-in-out;
    }
    main section#display-items.display-items-container > div:nth-child(2) article a {
        display: table;
        color: #0F4C81;
        font-weight: bolder;
        text-align: left;
        text-decoration: none;
        font-size: 1.1em;
        margin: 0.5em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article a:hover {
        color: #1E1E1E;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        flex-basis: 68%;
        margin-left: 27em;
    }
}
@media (min-width: 1200px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 7.5em 0em 2.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 2.6em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article {
        padding: 1.2em 2em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article a {
        font-size: 1.2em;
        margin: 0.55em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        margin-left: 32.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.55em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.2em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.3em 0em 1.5em;
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        margin: 0.11em auto 0.9em;
    }
}
@media (min-width: 1400px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 8.3em 0em 3.1em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 3.1em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article {
        padding: 1.4em 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article a {
        font-size: 1.3em;
        margin: 0.61em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        margin-left: 33.6em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1.2em 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2 {
        font-size: 1.7em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.67em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.4em 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.5em 0em 1.7em;
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        margin: 0.13em auto 1.1em;
    }
}