/* display items */
main section#display-items.display-items-container,
main section#display-items.display-items-container div:nth-child(2) div,
main section#display-items.display-items-container div:nth-child(2) div > *,
main section#display-items.display-items-container div:nth-child(2) div div,
main section#display-items.display-items-container div:nth-child(2) div div.container,
main section#display-items.display-items-container div:nth-child(2) div div > * {
    display: block;
    margin: auto;
    text-align: center;
}
main section#display-items.display-items-container > div:nth-child(2),
main section#display-items.display-items-container > div:nth-child(2) > div,
main section#display-items.display-items-container div:nth-child(2) div div.container div:first-of-type,
main section#display-items.display-items-container div:nth-child(2) div div.container div:last-of-type {
    display: flex;
}
main section#display-items.display-items-container > div:nth-child(2),
main section#display-items.display-items-container > div:nth-child(2) > div,
main section#display-items.display-items-container div:nth-child(2) div div.container div:first-of-type,
main section#display-items.display-items-container div:nth-child(2) div div.container div:last-of-type {
    flex-wrap: wrap;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div {
    flex-direction: column;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div:nth-child(2) {
    padding-top: 3.8em;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) {
    position: relative;
    z-index: 0;
}
main section#display-items.display-items-container > div:nth-child(2) article {
    display: none;
}
main section#display-items.display-items-container {
    padding-left: 0em;
    padding-right: 0em;
}
main section#display-items.display-items-container > div:nth-child(2) {
    margin: 5.2em auto 2.2em;
}
main section#display-items.display-items-container > div:nth-child(2) > div {
    flex-basis: 100%;
}
main section#display-items.display-items-container > div:nth-child(2) > div > div,
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div > div.items-container-div {
    display: block;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    flex-basis: 100%;
    margin: 1.1em 0.81em;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div {
    margin: 0.1em 0.81em;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div > div.items-container-div {
    margin: 1.1em auto 0.81em;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div {
    background-color: inherit;
    box-shadow: inherit;
    border-radius: inherit;
    flex-basis: inherit;
}
main section#display-items.display-items-container div:nth-child(2) div {
    position: relative;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container {
    background-color: #0F4C81;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 0.81em 1em;
    width: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 1.1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 span,
main section#display-items.display-items-container div:nth-child(2) div div div h2 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 span {
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 10%;
}
main section#display-items.display-items-container div:nth-child(2) div div.category-container h1 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 span {
	background-image: linear-gradient(179deg,#FFF 0%, #FFF 50%, transparent 54%, transparent 100%);
}
main section#display-items.display-items-container div:nth-child(2) div div div > * {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    text-align: left;
    flex-basis: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div div > h1,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div > h3,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div > a,
main section#display-items.profile-page.display-items-container > div:nth-child(1) div a {
    justify-content: center;
    align-items: center;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2,
main section#display-items.display-items-container div:nth-child(2) div div div h2 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 span,
main section#display-items.display-items-container div:nth-child(2) div div div span.price {
    font-weight: bolder;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
    color: #0F4C81;
    font-size: 1.3em;
    margin-bottom: 0.1em;
}
main section#display-items.display-items-container div:nth-child(2) div div div h2 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 span {
	background-image: linear-gradient(179deg,#0F4C81 0%, #0F4C81 50%, transparent 54%, transparent 100%);
}
main section#display-items.display-items-container div:nth-child(2) div div div span.price,
main section#display-items.display-items-container div:nth-child(2) div div.container p
main section#display-items.display-items-container div:nth-child(2) div div.container h4 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 span {
    font-style: italic;
}
main section#display-items.display-items-container div:nth-child(2) div div div span.price {
    color:#4CAE4C;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container {
    border-top: 1px solid #1E1E1E;
    padding: 1.1em 1em;
    width: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div.container.profiles-container {
    padding-top: 3em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container > * {
    text-align: left;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div:first-of-type,
main section#display-items.display-items-container div:nth-child(2) div div.container h3,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5,
main section#display-items.display-items-container div:nth-child(2) div div.container p,
main section#display-items.display-items-container div:nth-child(2) div div.container h4,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
    margin: initial;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div:first-of-type {
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div:last-of-type {
    margin: 0.2em auto 1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container div:last-of-type.created-by-div {
    margin: 2.2em auto 1em;
}
main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn {
    position: absolute;
    bottom: 0;
    flex-basis: 100%;
    background-color: #0F4C81;
    color: #fff;
    font-size: 0.9em;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    border-radius: 0em;
    padding: 0.5em 1.2em;
    margin-top: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 100%;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h3,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
    color: #1E1E1E;
    font-size: 0.9em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container p {
    color: #1E1E1E;
    margin: 1.2em auto 0.9em;
    font-size: 1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h4,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
    color: #1E1E1E;
    font-size: 1em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h4 span,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 span {
    color:#0F4C81;
}
main section#display-items.display-items-container div:nth-child(2) div div.container h4,
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
    padding-bottom: 2.2em;
}
main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h4 {
    padding-bottom: 0em;
}
main section#display-items.display-items-container div:nth-child(2) div div.container hr {
    height: 0.05em;
    background-color: #1E1E1E;
    border-top: 0.05em solid #1E1E1E;
    margin: 0.1em auto 0.81em;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container {
    position: relative;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container div,
main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
    display: flex;
    position: absolute;
    background-color: #fff;
    box-shadow: -5px 0px 15px 3px rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    width: 5.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.6em 0.81em;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-relative {
    position: relative;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3.5em;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    max-width: 100%;
    width: 150px;
    height: 150px;
    z-index: 1;
}
main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
    position: fixed;
    margin-top: 4.7em;
    margin-right: 0.5em;
}
main section#display-items.display-items-container div:nth-child(2) div div div.image-container div a,
main section#display-items.profile-page.display-items-container > div:nth-child(1) div a {
    max-width: 40%;
    cursor: pointer;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div.items-container {
    display: flex;
    flex-wrap: wrap;
}
main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div.items-container > div {
    flex-basis: 100%;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container,
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a {
    display: flex;
    flex-wrap: wrap;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div {
    align-items: center;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > p {
    display: contents;
    text-decoration: underline;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a h5,
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a:hover h5 {
    transition: 0.5s ease-in-out;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a {
    flex-direction: row;
    margin: auto;
    text-decoration: none;
    margin: 0.81em auto auto 1.8em;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a:hover h5 {
    color: #000;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a figure img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
    max-width: 100%;
    width: 55px;
    height: 55px;
}
main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div h5  {
    color: #0F4C81;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 0.5em;
    font-size: 1em;
}

@media (min-width: 400px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div:nth-child(2) {
        padding-top: 1.2em;
    }
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 5.8em auto 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 1.2em 1.9em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 0.9em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
        font-size: 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        font-size: 1em;
        margin-bottom: 0.55em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.2em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.3em auto 1em;
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.055em;
        margin: 0.11em auto 0.9em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-top: 5.1em;
        margin-right: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn {
        font-size: 1em;
        padding: 0.5em 1.3em;
        margin-top: 1.1em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div {
        margin: 1.2em 1.9em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -3.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 200px;
        height: 200px;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a {
        margin: 0.9em auto auto 2em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a figure img {
        width: 57px;
        height: 57px;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div h5  {
        margin-left: 0.55em;
        font-size: 1.1em;
    }
}
@media (min-width: 576px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.8em auto 2.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 1.3em 6.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        font-size: 1.1em;
        margin-bottom: 0.61em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.3em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.4em auto 1.1em;
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.061em;
        margin: 0.12em auto 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container div,
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        width: 6em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div {
        margin: 1.3em 1.1em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div.items-container {
        margin: 1.3em 6.1em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-top: 5.7em;
        margin-right: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 230px;
        height: 230px;
    }
}
@media (min-width: 768px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div:nth-child(2) {
        padding-top: 5.2em;
    }
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.1em 3.2em 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        flex-basis: 44%;
        margin: 1.2em auto 1em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div {
        flex-basis: inherit;
    }
    main section#display-items.display-items-container.show-item > div:nth-child(2) > div > div {
        flex-basis: 60%;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 0.9em 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container.show-item > div:nth-child(2) div div.category-container h1 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
        font-size: 1.4em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div div h2 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.1em 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
        font-size: 0.9em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container h3 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.2em auto 1.1em;
        font-size: 1em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container p {
        margin-top: 1.3em;
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        height: 0.05em;
        margin: 0.1em auto 0.81em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div.items-container > div {
        flex-basis: 44%;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div,
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div > div.items-container {
        margin: 1.2em auto 1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -3.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 992px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(2) > div:nth-child(2) {
        padding-top: 7.2em;
    }
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 6.8em 0em 2.6em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 2.4em;
    }
    main section#display-items.display-items-container.show-item > div:nth-child(2) > div > div {
        flex-basis: 80%;
    }
    main section#display-items.display-items-container > div:nth-child(2) article,
    main section#display-items.display-items-container > div:nth-child(2) article > * {
        display: block;
    }
    main section#display-items.display-items-container > div:nth-child(2) article {
        flex-basis: 30%;
        width: 30%;
        max-width: 380px;
        height: fit-content;
        border: 2px solid #0F4C81;
        background-color: transparent;
        position: fixed;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
        border-radius: 1em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) {
        border-bottom: 1px solid #000;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a h1,
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a:hover h1 {
        transition: 0.5s ease-in-out;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a h1 {
        font-weight: bolder;
        font-size: 1em;
        margin: 0em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a:hover h1 {
        color: #000;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a h1 span {
        font-weight: bolder;
        background-size: 100% 15%;
        background-repeat: repeat-x;
        background-position: left 0% bottom 10%;
        background-image: linear-gradient(179deg,#0F4C81 0%, #0F4C81 50%, transparent 54%, transparent 100%);
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) figure {
        margin: auto 0.7em auto 1.5em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) figure img {
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
        border: 1px solid #000;
        max-width: 100%;
        width: 45px;
        height: 45px;
        z-index: 1;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) a.create-a-new-profile {
        margin-left: 2.3em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(2) {
        padding: 1.1em 1.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div a,
    main section#display-items.display-items-container > div:nth-child(2) article div a:hover {
        transition: 0.5s ease-in-out;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div a {
        display: table;
        color: #0F4C81;
        font-weight: bolder;
        text-align: left;
        text-decoration: none;
        font-size: 1.1em;
        margin: 0.5em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div a:hover {
        color: #1E1E1E;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        flex-basis: 68%;
        margin-left: 27em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-top: 5.7em;
        margin-right: 2.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn {
        text-decoration: none;
    }
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn,
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn:hover {
        transition: 0.5s ease-in-out;
    }
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn:hover {
        background-color: #1E1E1E;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container div,
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        width: 5.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -3.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 1199px) {
    main section#display-items.display-items-container div:nth-child(2) div div.container.profiles-container p {
        margin-bottom: 3.2em;
    }
}
@media (min-width: 1200px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 7.5em 0em 2.8em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 2.6em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(2) {
        padding: 1.2em 2em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div a {
        font-size: 1.2em;
        margin: 0.55em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        margin-left: 32.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1em 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.category-container h1 {
        font-size: 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div div h2 {
        font-size: 1.6em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.55em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.2em 1.1em 3.8em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
        font-size: 1em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container h3 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.3em auto 1.2em;
        font-size: 1.1em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container p {
        margin-top: 1.4em;
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1.1em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container.show-item div:nth-child(2) div div.container h6 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        margin: 0.11em auto 0.9em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container div,
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        width: 6em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-top: 6em;
        margin-right: 4.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 175px;
        height: 175px;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a {
        margin: 1.1em auto 0.81em 2.4em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div > a figure img {
        width: 60px;
        height: 60px;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container > div h5  {
        margin-left: 0.61em;
        font-size: 1.2em;
    }
}
@media (min-width: 1400px) {
    main section#display-items.display-items-container > div:nth-child(2) {
        margin: 8.3em 0em 3.1em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div > div {
        margin: 0em auto 3.1em;
    }
    main section#display-items.display-items-container.show-item > div:nth-child(2) > div > div {
        flex-basis: 75%;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(2) {
        padding: 1.4em 2.4em;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div a {
        font-size: 1.3em;
        margin: 0.61em;
    }
    main section#display-items.display-items-container > div:nth-child(2) > div {
        margin-left: 33.6em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container {
        padding: 1.2em 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.category-container h1,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.category-container h3 {
        font-size: 1.5em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.category-container h1 {
        font-size: 1.6em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div h2,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div div h4 {
        font-size: 1.7em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div div h2 {
        font-size: 1.8em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div span.price {
        margin-bottom: 0.67em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container {
        padding: 1.4em 1.3em 4.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h3,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h5 {
        font-size: 1.2em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container h3 {
        font-size: 1.3em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container p {
        margin: 1.5em auto 1.2em;
        font-size: 1.3em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container p {
        margin-top: 1.6em;
        font-size: 1.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h6 {
        font-size: 1.3em;
        padding-bottom: 1.4em;
    }
    main section#display-items.profile-page.display-items-container div:nth-child(2) div div.container h4 {
        padding-bottom: 0em;
    }
    main section#display-items.display-items-container.show-item div:nth-child(2) div div.container h4,
    main section#display-items.profile-page.display-items-container.show-item div:nth-child(2) div div.container h6 {
        font-size: 1.4em;
        padding-bottom: 1.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div.container hr {
        margin: 0.13em auto 1.1em;
    }
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-top: 6.3em;
        margin-right: 5.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div a.view-more-btn {
        font-size: 1.2em;
        padding: 0.61em 1.5em;
        margin-top: 1.2em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container div,
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        width: 6.4em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute {
        bottom: -3.5em;
    }
    main section#display-items.display-items-container div:nth-child(2) div div div.image-container figure.background-image-absolute img {
        width: 200px;
        height: 200px;
    }
    main section#display-items.display-items-container > div:nth-child(2) article div:nth-child(1) figure img {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 1600px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 8.2em;
    }
}
@media (min-width: 1800px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 14.2em;
    }
}
@media (min-width: 2000px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 20.2em;
    }
}
@media (min-width: 2200px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 30.2em;
    }
}
@media (min-width: 2400px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 40.2em;
    }
}
@media (min-width: 2800px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 50.2em;
    }
}
@media (min-width: 3200px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 70.2em;
    }
}
@media (min-width: 3600px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 80.2em;
    }
}
@media (min-width: 3800px) {
    main section#display-items.profile-page.display-items-container > div:nth-child(1) div {
        margin-right: 90.2em;
    }
}