body {
	background-image: url("https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
	background-size: cover;
}

.jumbotron {
	float: right;
	width: 25%;
	margin-top: 5%;
	overflow-wrap: break-word;
  	align-items: center;
}

.cloud {
	font-family: 'Caveat', cursive;
	padding: 0.4em;
}

#style {
	font-size: 3vw;
	text-align: center;
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
}

#center {
	font-size: 1em;
	float: left;
}

.center {
	text-align: center;
}

#auto {
	width: auto;
	margin: 0 auto;
    display: block;
	position:relative;
}