.thumbnail img {
	width: 70%;
}

.img-responsive {
	width: 40%;
}

.thumbnail {
	padding: 0px;
}

.thumbnail .caption-full {
	padding: 9px;
}

#form {
	width: 35%;
}

.spacing {
	padding: 1.2em;
}

#center {
	text-align: center;
}

.container {
	width: 50%;
	margin: auto;
}

.left {
	text-align: left;
}

.pull-right {
	padding-right: 4%;
}

.menu {
  width: 18%;
  background-color: white;
  float: left;
  margin-left: 5%;
  position: fixed;
}

a:hover {
	text-decoration: none;
}

a {
	color: #777;
}

.align {
	display: inline;
}

.float-left {
	float: left;
}

.container {
	padding-left: 30px;
}

.box {
	border-radius: 15px;
	background-color: #fafafa;
}

.large {
	width: 100%;
	height: 230px;
	border-radius: 15px;
}

 #profile {
	border-radius: 100%;
	width: 70%;
	height: 24em;
	float: right;
}

#profiles {
	width: 100%;
}

#white {
	color: white;
	font-size: 1.2em;
	padding: 0px;
}

.right-align {
	float: right;
	padding-top: 4em;
	width: 50%;
	text-align: right;
	font-size: 1.3em;
}

#comment {
	font-size: 1.2em;
	text-decoration: bold;
}

mark {
 	background-color: white;
  	color: black;
}

.textarea {
	height: 5000px;
	resize: none;
}

#link {
	color: #FFFFFF;
}

#link:hover {
	color: #BEB9B9

}

#commentText {
	font-size: 1.6em;
}