<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<section class="form-container">
	<div class="body-container-items-forms container">
		<h1><span>Create a new item</span></h1>

		<form action="/items" method="POST">
			<input type="input" name="name" placeholder="Title" required>
			<input type="input" name="image" placeholder="Image URL">
			<input type="number" name="price" placeholder="Price" min="0.01" step="0.01" required>
			<input type="input" name="condition" placeholder="Condition">
			<textarea name="description" placeholder="Description" required></textarea>
			
			<button type="submit">Submit!</button>
			<a href="javascript:history.back()">Go Back</a>
		</form>
	</div>
</section>